<form nz-form [formGroup]="addForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzFor="h_no">House Name/ House Number</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input h_no="h_no" type="text" id="h_no" formControlName="house">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
        <nz-form-label [nzSpan]="9" nzFor="locality">Street Address/Locality</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <input nz-input h_no="locality" type="text" id="locality" formControlName="locality">
        </nz-form-control>
      </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzFor="city">City</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input h_no="city" type="text" id="city" formControlName="city">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzFor="country">Country</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input h_no="country" type="text" id="country" formControlName="country">
      </nz-form-control>
    </nz-form-item >
   
   
  </form>